@model IEnumerable<Vet_Clinic.Web.Data.Entities.User>

@{
    ViewData["Title"] = "Index";
}
<section class="content-header">

    <ol class="breadcrumb">
        <li><a asp-controller="Home"><i class="fas fa-home"></i> Home</a></li>
        <li class="active">Admin</li>
    </ol>
</section>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<a asp-action="Register" class="btn btn-primary" asp-controller="Account">
    <i class="glyphicon glyphicon-plus"></i> Register new user
</a>

<div class="register" style="margin-top:10px; margin-bottom:10px">

    <div class="container-fluid">
        <div style="text-align:center">
            <h3 class="card-title">Users</h3>
        </div>
        <div class="box box-info" style="margin-top:10px">
            <div class="box-header with-border">
                @if (Model.Any())
                {
                    <div class="panel-body">
                        <table class="table table-hover table-responsive table-striped" id="MyTable">
                            <thead>
                                <tr>
                                    <th>
                                        Email
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => user.UserName)
                                        </td>
                                        <td id="@user.Id">
                                            <a asp-controller="Administrator" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-info"> <i class="fa fa-edit"></i> </a>
                                            <a asp-controller="Administrator" asp-action="DetailsUser" class="btn btn-warning" asp-route-id="@user.Id"> <i class="fa fa-list"></i>  </a>
                                            <a asp-action="DeleteUser" asp-route-id="@user.Id" class="btn btn-danger pull-right" id="btnDelete"><i class="fa fa-trash"></i></a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="card">
                        <div class="card-header">
                            No users created yet
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Use the button below to create a user
                            </h5>
                            <a class="btn btn-primary" style="width:auto"
                               asp-controller="Account" asp-action="Register">
                                Add new user
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


    <partial name="_DeleteDialog" />


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script src="~/js/main.js"></script>

        <script type="text/javascript">

            $(document).ready(function () {
                let id = 0;
                $('a[id*=btnDelete]').click(function () {
                    debugger;
                    id = $(this).parent()[0].id;
                    $("#deleteDialog").modal('show');
                    return false;
                });
                $("#btnNoDelete").click(function () {
                    $("#deleteDialog").modal('hide');
                    return false;
                });
                $("#btnYesDelete").click(function () {
                    window.location.href = '/Assistant/Delete/' + id;
                });
            });

        </script>

    }

