@model List<UserRoleViewModel>

@{
    var roleId = ViewBag.roleId;
}

<section class="content-header">

    <ol class="breadcrumb">
        <li><a asp-controller="Home"><i class="fas fa-home"></i> Home</a></li>
        <li class="active">Roles</li>
    </ol>
</section>

<br />
<br />

<section class="content">
    <div class="row">
        <div class="col-md-7 center-block">
            <div style="text-align:center">
                <h3 class="card-title">Add or remove users from this role</h3>
            </div>
            <form method="post">
                <div class="box box-info" style="margin-top:10px">
                    @for(int i = 0; i < Model.Count; i++)
                    {
                    <div class="form-check m-4">
                        <input type="hidden" asp-for="@Model[i].UserId" />
                        <input type="hidden" asp-for="@Model[i].UserName" />
                        <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model[i].IsSelected">
                            @Model[i].UserName
                        </label>
                    </div>
                    }

                    <div class="card-footer">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <a asp-action="EditRole" asp-route-id="@roleId"
                           class="btn btn-warning  pull-right"><i class="fa fa-backward"></i> To Roles</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>
