@model Vet_Clinic.Web.Data.Entities.Admin

@{
    ViewData["Title"] = "Details";
}

<h2>Admin</h2>
<br />
<br />

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
    </dl>
</div>
<td>
    <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.Id"><i class="glyphicon glyphicon-pencil"></i>Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</td>
