@model Vet_Clinic.Web.Data.Entities.Doctor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specialty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MedicalLicense)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MedicalLicense)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TIN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TIN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Schedule)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ObsRoom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObsRoom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DoctorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
