@model IEnumerable<Vet_Clinic.Web.Data.Entities.Appointment>

@{
    ViewData["Title"] = "Create";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Appointments
    </h1>



</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add Appointment</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="col-md-6 offset-md-6">
            <form class="form-horizontal">
                <div class="box-body">

                    <p>
                        <a asp-action="AddDoctorPetOwner" class="btn btn-success">Add Appointment</a>
                        @*<a asp-action="ConfirmAppointment" class="btn btn-primary">Confirm Appointment</a>*@
                    </p>

                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Doctor.Name)
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Pet.Name)
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Owner.Name)
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                @Html.DisplayNameFor(model => model.IsAvailable)
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.AppointmentObs)
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.AppointmentSchedule)
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>


                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    </div>
</section>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Doctor.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pet.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Owner.Name)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.AppointmentSchedule)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.AppointmentObs)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsAvailable)
    </td>

    <td>

        <a asp-action="DeleteItem" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
    </td>
</tr>
    }
    <a asp-action="Index" class="btn btn-warning pull-right">Back to List</a>

    <!-- /.box -->
