@model IEnumerable<Vet_Clinic.Web.Data.Entities.Appointment>

<section class="content-header">
    <h1>
        Appointment
    </h1>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <ol class="breadcrumb">
        <li><a asp-controller="Home"><i class="fas fa-clinic-medical"></i> Home</a></li>
        <li class="active">Appointment</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Appointments</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Treatment</th>
                                <th>Doctor Name</th>
                                <th>Animal Name</th>
                                <th>Schedule</th>
                                <th>Appointment Obs</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @using (Html.BeginForm("Delete", "Appointments", new { id = item.Id }))
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Treatment)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DoctorName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.AnimalName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.AppointmentSchedule)</td>
                                        <td>@Html.DisplayFor(modelItem => item.AppointmentObs)</td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            <input type="submit" value="Delete"
                                                   onclick="return confirm('Are you sure you want to delete Appointment @item.Id?')" />
                                        </td>
                                    </tr>
                                }
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!-- DataTables -->
<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- page script -->
