@model Vet_Clinic.Web.Data.Entities.Pet

@{
    ViewData["Title"] = "Details";
}

<section class="content-header">
    <ol class="breadcrumb">
        <li><a asp-controller="Home"><i class="fas fa-home"></i> Home</a></li>
        <li class="active">Pets</li>
    </ol>
</section>

<!-- Main content -->

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8 center-block">

                <div style="text-align:center">
                    <h3 class="card-title">Pet</h3>
                </div>

                <div class="box box-info" style="margin-top:10px">
                    <div class="box-header with-border">

                        <div class="row">
                            <div class="col-sm-8">
                                <dl class="dl-horizontal">
                                    <dt>
                                        Owner
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Owner.Name)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Gender)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Gender)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Weight)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Weight)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Breed)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Breed)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Sterilization)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Sterilization)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.DateOfBirth)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.DateOfBirth)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                                {
                                    <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:300px;max-height: 100%; width: auto;" />
                                }
                            </div>

                        </div>
                        <div>
                            <a asp-action="EditPet" asp-route-id="@Model.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                            <a asp-action="AddHistory" asp-route-id="@Model.Id" class="btn btn-foursquare center-block"><i class="fa fa-history"></i> Add History <i class="fa fa-history"></i></a>
                            <a asp-action="Index" asp-route-id="@Model.Owner.Id" class="btn btn-success pull-right"><i class="fa fa-backward"></i> Back</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <br />

    @if (Model.Histories.Count == 0)
    {
        <div style="text-align:center">
            <h3 class="card-title">Pet History</h3>
        </div>

        <div class="box box-info center-block">

            <div class="form-control">
                <h4> No histories added yet.</h4>
            </div>
        </div>

    }
    else
    {
        <div class="row">
            <div class="col-md-9 center-block">
                <div style="text-align:center">
                    <h3 class="card-title">Pet History</h3>
                </div>
                <div class="box box-info" style="margin-top:10px">

                    <div class="box-header with-border">
                        <div class="panel-body">
                            <table class="table table-hover table-responsive table-striped" id="MyTable">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>ServiceType</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Histories)
                                    {
                                        @using (Html.BeginForm("DeleteHistory", "Pets", new { id = item.Id }))
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Date)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ServiceType.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    <input type="submit" value="Delete" class="btn btn-danger pull-right"
                                                           onclick="return confirm('Are you sure you want to delete @item.Description?')" />
                                                    <a asp-action="EditHistory" class="btn btn-info pull-right" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
}
