@model Vet_Clinic.Web.Data.Entities.Assistant

@{
    ViewData["Title"] = "Details";
}

<section class="content-header">
    <ol class="breadcrumb">
        <li><a asp-controller="Home"><i class="fas fa-home"></i> Home</a></li>
        <li class="active">Assistants</li>
    </ol>
</section>
<br />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<br />
<div class="register" style="margin-top:10px; margin-bottom:10px">

    <div class="container-fluid">

        <div style="text-align:center">
            <h3 class="card-title">Assistant</h3>
        </div>

        <div class="box box-info" style="margin-top:10px">
            <div class="box-header with-border">

                <div class="row">
                    <div class="col-sm-8 ">

                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.LastName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.TIN)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TIN)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.DateOfBirth)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DateOfBirth)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </dd>
                        </dl>
                    </div>
                    <div class="pull-right">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:150px;height:150px;max-height: 100%; width: auto;" />
                        }
                    </div>

                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                    <a asp-action="Index" class="btn btn-success  pull-right"><i class="fa fa-backward"></i> To List</a>
                </div>
            </div>
        </div>
    </div>
</div>


