@model IEnumerable<Vet_Clinic.Web.Data.Entities.Appoitment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Treatment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentObs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Treatment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentObs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
